a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
		a.wsp4855a03{ color:#FFFF00; text-decoration: underline} 
		a.wsp4855a03:visited{ color:#FFFF00; text-decoration: none} 
		a.wsp4855a03:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp4855a03:hover{ color:#FF8040; text-decoration: underline} 
		a.wsp7c09b130{ color:#FFFFFF; text-decoration: none} 
		a.wsp7c09b130:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp7c09b130:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp7c09b130:hover{ color:#FFFFFF; text-decoration: none} 
body { background-color:#FFFFFF; background-image: url(images/b5f5ef32c7d0144dd0f4a67e4105134d.jpg); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_5640478c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1630px; background:none;  }
#container_5640478c_padding { margin: 10px; display: block;  }
#container_19c14bed { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:41px; background:none;  }
#container_19c14bed_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#text_4710ac38 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle3 { font-size:36pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_5367cd03 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:1500px; background:none;  }
#container_5367cd03_padding { margin: 10px; display: block;  }
#text_fdbfed7 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle4 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF00;  }
.textstyle5 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
